@charset "UTF-8";
/*a_13_border.css*/

#wrap{
  width: 900px; height: auto;
  margin: 0 auto; padding-bottom:20px ;
  background-color: #eee;
}
.part{
  width: 90%; height: 500px;
  margin: auto;
  background-color: #aff;
}
.part > div{
  float: left;
  width: 150px; height: 150px;
  background-color: #ddd;
  background-image: linear-gradient(60deg, #fff, salmon
  );
}
.border_01{
  border-width: 10px; border-style: solid; border-color: #777;
}
.border_02{
  border: 30px solid #f7f;
}
.border_03{
  border: 70px solid #5a5;
  box-sizing: border-box; /*border값이 안쪽으로 적용되어 context 안의 값이 줄어지게 됨 */
}
.border_04{
  padding: 70px;
  border: 20px solid #479;
  box-sizing: border-box; /* => padding과 margin을 모두 정해진 규격내부로 작성되게 만들겠다 */
}
.border_05{
  margin-top: 20px;
  border: 30px solid #999;
  border-left-color: #fff;
  border-right-style: dotted;
  border-top-width: 5px;
}
.border_06{
  margin: 40px;
  border: 10px solid #fff;
  border-color: #fa0;
  border-bottom-color: #f07;
}
.border_07{
  border-top: 10px solid #555;
  border-left: 30px solid #aaa ;
}